<div class="bg-main h-screen">
    <div class="h-full w-full bg-[rgba(0,0,0,0.51)] flex justify-end items-center">
        <div class="text-white px-3 md:pe-10 text-end w-full md:w-2/4">
            <h1 class="text-4xl md:text-6xl">¡Hola! soy <span class="text-main-color">A</span>rturo <span class="text-main-color">L</span>una</h1>
            <p class="text-md">Un desarrollador apasionado por la tecnología</p>
            <p class="text-xl md:text-2xl">
                Me dedico al desarrollo web 
                <span class="text-main-color">Full Stack </span>
                manejando múltiples tecnologías de 
                <span class="text-main-color">Front-End </span>
                y 
                <span class="text-main-color">Back-End</span>
                . Además, herramientas para la creación de 
                <span class="text-main-color">sistemas web</span>
            </p>
        </div>
    </div>
</div>