<div class="bg-[#f8f9fa] h-full px-2 py-20 md:px-10 md:py-20" >
    <h1 class="font-title text-4xl md:text-6xl text-center">Acerca de mi</h1>
    <div class="block lg:flex px-4 md:px-20 pt-10 md:pt-20 gap-16 items-center justify-center flex-wrap">
        <div class="w-full lg:w-[500px] flex justify-center lg:justify-end">
            <img class="object-cover rounded-full w-[200px] h-[200px] md:w-[500px] md:h-[500px]" src="../../../assets/me.webp" alt="">
        </div>
        <p class="w-full lg:w-[700px] text-base md:text-2xl pt-10 lg:pt-0">
            Hola, soy <b>Ingeniero en Informática</b> de 26  años de edad. Te preguntarás que es lo que me diferencia de los demás. Cuento con <b>6 años de experiencia</b> que me han dado diferentes experiencias laborales.
            <br><br>
            Mis fortalezas como programador se inclinan hacia el <b>desarrollo web</b>, ya que tengo conocimiento en diferentes lenguajes de <b>Back-End</b> y <b>Front-End</b>.
            <br><br>
            Desde que comencé como desarrollador, siempre he estado estudiando constantemente y aunque maneje distintas tecnologías siento que aún queda un mundo por aprender.
            <br><br>
            Soy una persona <b>comprometida y puntual</b> con mis proyectos, que espera siempre cumplir con las expectativas y más. Opino que las cosas hay que hacerlas bien porque esa es nuestra verdadera carta de presentación.
        </p>
    </div>
</div>