<footer class="p-5 bg-[#212529] block md:flex justify-between items-center w-full text-center">
    <h1 class="text-2xl text-white">
        <a href="#home" class="hover:text-main-color">
            <span class="text-main-color">A</span>rturo <span class="text-main-color">L</span>una
        </a>
    </h1>

    <p class="text-sm text-white py-5 md:py-0">© Desarrollado por Arturo Luna</p>

    <div class="flex justify-around items-center gap-10">
        <a 
            matTooltip="Gmail"
            target="_blank" href="mailto:arturoluna879@gmail.com?Subject=Hola,%20me%20gustaria%20contactarte%20estoy%20interesado%20en%20tu%20trabajo"
        >
            <img class="cursor-pointer" src="../../../assets/gmail.png" alt="gmail">
        </a>
        <a 
            matTooltip="Whatsapp"
            target="_blank" href="https://wa.me/34615366499?text=Hola,%20me%20gustaria%20contactarte%20estoy%20interesado%20en%20tu%20trabajo"
        >
            <img class="cursor-pointer" src="../../../assets/whatsapp.png" alt="whatsapp">
        </a>
        <a 
            matTooltip="LinkedIn"
            target="_blank" href="https://www.linkedin.com/in/arturo-developer/"
        >
            <img class="cursor-pointer" src="../../../assets/linkedin.png" alt="linkedin">
        </a>
        <a 
            matTooltip="GitHub"
            target="_blank" href="https://github.com/arturoluona"
        >
            <img class="cursor-pointer bg-white rounded-full" src="../../../assets/github.png" alt="github">
        </a>
    </div>
</footer>
