<div class="bg-projects">
    <div class="bg-[rgba(0,0,0,0.51)] h-full px-2 py-20 md:px-10 md:py-20" >
        <h1 class="font-title text-6xl text-center text-white">Proyectos</h1>
        <p class="text-base text-center text-white">(Ultimos dos proyectos en que he colaborado)</p>
        
        <div class="flex px-4 md:px-10 pt-10 md:pt-20 gap-16 items-center justify-center flex-wrap w-full">
            <div 
                class="p-5 h-full md:h-[600px] w-full md:w-[500px] bg-white shadow-md" 
            >
                
                <div class="flex items-center justify-center gap-3"> 
                    <img class="w-[40px] h-[40px]"  src="../../../assets/rithm-logo.svg" alt="rithmXO"> 
                    <a href="https://www.linkedin.com/company/rithmxo/" target="_blank"  class="text-2xl hover:underline hover:text-blue-800"><b>RithmXO</b></a> 
                </div>

                <div class="text-base mt-4">
                    <ul class="list-disc pl-5 space-y-2 text-gray-700">
                        <li><b>Rol</b>:
                          <ul class="list-inside space-y-1 text-gray-600">
                            <li>Desarrollador web en Rithm</li>
                          </ul>
                        </li>
                        <li><b>Enfoque</b>:
                          <ul class="list-inside space-y-1 text-gray-600">
                            <li>Trabajo en equipo para la realización de proyectos innovadores y efectivos.</li>
                          </ul>
                        </li>
                        <li><b>Herramientas Principales</b>:
                          <ul class="list-disc  pl-5 space-y-1 text-gray-600">
                            <li><b>Angular</b>: Para el desarrollo de aplicaciones web estructuradas y dinámicas.</li>
                            <li><b>Tailwind y MaterialUI</b>: Para diseñar interfaces de usuario atractivas y responsivas.</li>
                          </ul>
                        </li>
                        <li><b>Responsabilidades Adicionales</b>:
                          <ul class="list-disc  pl-5 space-y-1 text-gray-600">
                            <li><b>Revisión de Código</b>: Participación activa en la revisión de código a través de GitHub.</li>
                            <li><b>Calidad y Coherencia del Código</b>: Asegurar la calidad y coherencia del código producido por los compañeros.</li>
                            <li><b>Cultura de Colaboración y Mejora Continua</b>: Fomentar un entorno de colaboración y mejora continua.</li>
                          </ul>
                        </li>
                      </ul>
                </div>
            </div>

            <div 
                href="https://www.linkedin.com/company/stockvizcom/" target="_blank" 
                class="p-5 h-full md:h-[600px] w-full md:w-[500px] bg-white shadow-md" 
            >
                <div class="flex items-center justify-center gap-3">
                    <img class="w-[50px] h-[50px]" src="../../../assets/sv-logo.svg" alt="rithmXO">
                    <a  href="https://www.linkedin.com/company/stockvizcom/" target="_blank" class="text-2xl hover:underline hover:text-blue-800"><b>StockViz</b></a>
                </div>

                <div class="text-base mt-4">
                    <ul class="list-disc pl-5 space-y-2 text-gray-700">
                        <li><b>Rol</b>:
                          <ul class="list-disc pl-5 space-y-1 text-gray-600">
                            <li>Líder de equipo y programador Full Stack.</li>
                            <li>Contribución significativa a dos aplicaciones independientes: una con Angular y otra con Django.</li>
                          </ul>
                        </li>
                        <li><b>Trabajo con Angular</b>:
                          <ul class="list-disc pl-5 space-y-1 text-gray-600">
                            <li>Creación de interfaces de usuario interactivas y dinámicas.</li>
                            <li>Enfoque en mejorar la experiencia del usuario.</li>
                          </ul>
                        </li>
                        <li><b>Trabajo con Django</b>:
                          <ul class="list-disc pl-5 space-y-1 text-gray-600">
                            <li>Desarrollo de un sistema web enfocado en la manipulación de gran cantidad de datos avanzados.</li>
                            <li>Implementación de estrategias de SEO avanzado.</li>
                            <li>Aseguramiento de la robustez y eficiencia del sistema web.</li>
                          </ul>
                        </li>
                        <li><b>Liderazgo</b>:
                          <ul class="list-disc pl-5 space-y-1 text-gray-600">
                            <li>Seguimiento y control de calidad del trabajo de otros programadores.</li>
                            <li>Aseguramiento de la cohesión y alta calidad de las soluciones de software.</li>
                            <li>Mantenimiento de un ambiente de trabajo productivo y colaborativo.</li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
