<div class="bg-projects">
    <div class="bg-[rgba(0,0,0,0.51)] h-full px-2 py-20 md:px-10 md:py-20" >
        <h1 class="font-title text-6xl text-center text-white">Proyectos</h1>
        <p class="text-base text-center text-white">(Ultimos dos proyectos en que he colaborado)</p>
        
        <div class="flex px-4 md:px-10 pt-10 md:pt-20 gap-16 items-center justify-center flex-wrap w-full">
            <a 
                href="https://www.linkedin.com/company/rithmxo/" target="_blank" 
                class="p-5 h-full md:h-[600px] w-full md:w-[500px] text-center bg-white shadow-md" 
            >
                
                <div class="flex items-center justify-center gap-3"> 
                    <img class="w-[40px] h-[40px]"  src="../../../assets/rithm-logo.svg" alt="rithmXO"> 
                    <p class="text-2xl">RithmXO</p> 
                </div>

                <p class="text-xl mt-4">
                    Como desarrollador web en Rithm, mi experiencia se centró en trabajar en equipo para llevar a cabo proyectos innovadores y efectivos. Utilizaba un conjunto de herramientas de vanguardia que incluían Angular para el desarrollo de aplicaciones web estructuradas y dinámicas, complementado con Tailwind y MaterialUI para diseñar interfaces de usuario atractivas y responsivas. Mi rol también implicaba una participación activa en la revisión de código a través de GitHub, asegurando la calidad y coherencia del código producido por mis compañeros, fomentando así un entorno de colaboración y mejora continua.
                </p>
            </a>

            <a 
                href="https://www.linkedin.com/company/stockvizcom/" target="_blank" 
                class="p-5 h-full md:h-[600px] w-full md:w-[500px] text-center bg-white shadow-md" 
            >
                <div class="flex items-center justify-center gap-3">
                    <img class="w-[50px] h-[50px]" src="../../../assets/sv-logo.svg" alt="rithmXO">
                    <p class="text-2xl">StockViz</p>
                </div>

                <p class="text-xl mt-4">
                    En StockViz, mi rol como líder de equipo y programador Full Stack me permitió contribuir significativamente a dos aplicaciones independientes, una desarrollada con Angular y la otra con Django. Con Angular, trabajé en la creación de interfaces de usuario interactivas y dinámicas, centradas en mejorar la experiencia del usuario. Paralelamente, la aplicación Django se centró en un sistema web con manipulacion de gran cantidad de datos avanzados y grandes estrategias de SEO, asegurando la robustez y eficiencia del sistema web. Como líder, además de mis responsabilidades de desarrollo, me encargué del seguimiento y control de calidad del trabajo de otros programadores, asegurando la cohesión y alta calidad de nuestras soluciones de software, manteniendo así un ambiente de trabajo productivo y colaborativo.
                </p>
            </a>
        </div>
    </div>
    
</div>
